.inputDriverDiv {
    position: relative;
}
.inputDriverDiv > .fieldsetWrapper {
    display: inline-block;
}

.inputGroup {
    position: relative;
    width: 20%;
    display: inline-block;
}

.fieldsetWrapper {
    position: relative;
}

.formGroupContainer > * {
    display: inline-block;
    vertical-align: top;
}

.form-control {
    width: auto !important;
}

.inputDriverBtn {
    display: inline-block;
    margin-left: 15px;
}

.spacer {
    display: inline-block;
    width: 5px;
}

#viewBtnFieldset {
    width: 100px;
}

#viewBtnBanner {
    display: block;
    text-align: center;
}

.viewBtn {
    display: inline-block;
    margin-top: 7px;
    margin-left: 3%;
}